<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Angular Manager - List Template</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Album Manager</a>
    </nav>
    <main>
      <form class="mt-4 d-md-flex justify-content-between">
        <div class="d-flex">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
              <i class="fas fa-search"></i>
              Search
            </button>
        </div>
        <div class="">
          <a href="/add.html" class="btn btn-primary mt-4 mt-md-0">
            <i class="fas fa-plus"></i> Add Album
          </a>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card">
            <h5 class="card-header">
              Title
            </h5>
            <div class="card-body">
              <h5 class="card-title">Artist</h5>

              <dl class="row mt-4">
                <dt class="col-sm-6">Year released:</dt>
                <dd class="col-sm-6">1989</dd>
                <dt class="col-sm-6">Album Type:</dt>
                <dd class="col-sm-6">Rocks</dd>
              </dl>
              <a href="/details.html" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card">
            <h5 class="card-header">
              Title
            </h5>
            <div class="card-body">
              <h5 class="card-title">Artist</h5>

              <dl class="row mt-4">
                <dt class="col-sm-6">Year released:</dt>
                <dd class="col-sm-6">1989</dd>
                <dt class="col-sm-6">Album Type:</dt>
                <dd class="col-sm-6">Rocks</dd>
              </dl>
              <a href="/details.html" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card">
            <h5 class="card-header">
              Title
            </h5>
            <div class="card-body">
              <h5 class="card-title">Artist</h5>

              <dl class="row mt-4">
                <dt class="col-sm-6">Year released:</dt>
                <dd class="col-sm-6">1989</dd>
                <dt class="col-sm-6">Album Type:</dt>
                <dd class="col-sm-6">Rocks</dd>
              </dl>
              <a href="/details.html" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
